.about {
  font-family: Arial, sans-serif;
  color: #000000;
  line-height: 1.6;
  background-image: url("/assets/back.jpg");
  background-size: cover;       /* cobre todo o espaço sem distorcer */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat;
}

/* HERO */
.about-hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #2f3b52);
  color: #ffffff;
}
.about-hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
    color: #ffffff;

}
.about-hero p {
  font-size: 1.3rem;
  max-width: 700px;
  margin: 0 auto;
}

/* SECTIONS */
.about-section {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
  color: #000000;
  
  
}
.about-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #52678d  ;
}

/* GRID (valores, visão, missão) */
.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
}
.about-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
.about-card h3 {
  color: #52678d;
  margin-bottom: 15px;
}
.about-card ul {
  padding-left: 20px;
}
.about-card li {
  margin-bottom: 8px;
}
